/* 

0 - Imports & root
1 - Estruturais
2 - Blocos
3 - Botão / Button
4 - Forms & Inputs
5 - Carousel, Table & Tooltip
6 - Textos
7 - Imagem
8 - @media

*/

/* 0 - Imports & root */
@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
   --cor-Primaria: #FF9F9F;
   --cor-Secundaria: #575756;
   --cor-PrimariaHover: #cb7676;
}

:root,
:root.light {
    --color-bg: #f5f5f5;
    --color-bgHover: rgba(245,245,245,0.9);
    --color-mg: #fff;
    --color-fg: #1f1f1f;
    --color-text: rgba(52, 52, 52, 1);
}

:root.dark {
    --color-bg: #343434;
    --color-mg: #404040;
    --color-fg: #ffffff;
    --color-text: #ffffff;
}

body{
   background: var(--color-bg);
   color: var(--color-fg);
   font-family: 'Inter', sans-serif !important;
   font-size: 14px;
   width: 100vw;
   height: 100vh;
}

form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

/* 2 - Blocos */
.blcContent{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: var(--color-mg);
   width: 400px;
   height: 600px;
   max-width: 75vw;
   max-height: 75vh;
   padding: 24px;
   border-radius: 16px;
   border: 5px solid var(--cor-Primaria);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
   z-index: 1;
}

.blcFlexRow{
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.overlayPink{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: var(--cor-Primaria);
   width: 400px;
   height: 600px;
   max-height: calc(80vh + 48px);
   border-radius: 16px;
   z-index: 0;
}

/* 3 - Botão / Button */
button {
   background: transparent;
   border: none;
   cursor: pointer;
   position: relative;
   text-wrap: nowrap;
   font-family: var(--fontTexto);
   font-size: 16px;
}

button:focus, button:active {
   outline: none;
}

button.btnPrimary{
   background: var(--cor-Primaria);
   border: 2px solid var(--cor-Primaria);
   padding: 8px 24px;
   border-radius: 4px;
   color: #fff;
}

button.btnPrimary:hover{
   background: var(--cor-PrimariaHover);
   border-color: var(--cor-PrimariaHover);
}

button.btnSecundary{
   background: transparent;
   border: 2px solid var(--cor-Primaria);
   padding: 8px 24px;
   border-radius: 4px;
   color: var(--cor-Primaria);
}

button.btnSecundary:hover{
   color: var(--cor-PrimariaHover);
   border-color: var(--cor-PrimariaHover);
}

/* 4 - Forms & Inputs */
form#cadastro-form{
   width: calc(100% - 48px);
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.blcContent .blcFlexRow{
   margin-top: 54px;
}

.formControl{
   width: 100%;
   margin: 0;
   padding: 8px 16px;
   font-size: 14px;
   border-radius: 4px;
   background: var(--color-bg);
   border: 1px var(--color-bg);
}

select.formControl{
   width: calc(100% + 16px + 16px);
}

select:focus, .formControl:focus{
   outline: 1px solid var(--cor-Primaria);
}

/* 6 - Textos */
h1{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 600;
}

#cadastro-form span{
   font-size: 16px;
   font-weight: 400;
}

/* 7 - Imagem */
img.imgLogoForm{
   width: 50%;
   cursor: pointer;
}